{% extends 'base.html.twig' %}
{% block title %} Signup {% endblock %}
{% block body %}
  <main class="offset-lg-4 col-lg-4 mt-3 d-flex align-items-center" style="height: 90vh">
    <section id="articleView" class="card bg-white shadow-sm p-lg-5 p-3 w-100">
      {{ form(form) }}
    </section>
  </main>
{% endblock %}
