<section id="articleView" class="card col-lg-6 mt-3 ml-3 mr-4 bg-white shadow-sm">
  <article class="card-body">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt, natus minus sint assumenda eius inventore delectus facilis ullam officiis, dolorum perferendis officia vero necessitatibus exercitationem quaerat harum debitis autem? Iste?
  </article>
</section>
