{% extends 'base.html.twig' %}
{% block body %}
  <main class="offset-lg-3 col-lg-6 mt-3">
    <section id="articleView" class="card bg-white shadow-sm">
      <article class="card-body">
        <p>{{ article.content }}</p>
        <span>{{ article.comments|length }} Commentaires</span>
        {% for comment in article.comments %}
        <p>{{ comment.content }}</p>
        {% endfor %}
      </article>
    </section>
  </main>
{% endblock %}
